	
		.login
		{	
			display: table;
		    width: 100%;
		    height: 90vh;
			margin-bottom:27px;
		}

		.login_container
		{
			display: table-cell;
			vertical-align: middle;
		}

		.login_panel
		{
			border: 2px solid #ddd;
			border-radius: 1px;
			max-width: 400px; /*change width length*/
			margin: 0 auto;

		}
		
		.login_panel>h1
		{
			text-align: center;
			margin: 0;
			padding: 30px;
			padding-bottom: 10px;
		}
		
		input 
		{
			border: 1px solid #ccc;
			width: 100%;
			height: 40px;
			margin-top: 15px;
		}
		
		
		
		